<nav> 
    <div class="links brand">
        <img class="logo" src="logo.png" alt="MY_BANK" width="58" height="58">
        <a routerLink="all"    routerLinkActive="active">All Transactions</a>
        <a routerLink="pending" routerLinkActive="active">Pending Transactions</a>
    </div>
    <div class="balance">
        Balance: {{ balance$ | async | currency:'PLN' }}
        <button (click)="goAdd()">+ Add funds</button>
        <button class="logout" (click)="logout()">Logout</button>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>
